.login-page {
  min-height: 100vh;
  background-color: #f3f4f6;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  height: 270px;
  width: 330px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  padding: 30px;

  border-radius: 16px;
}
.login-title {
  color: #6366f1;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0px;
}
.login-subtitle {
  color: #6b7280;
  font-size: 16px;
  margin-bottom: 19px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-label {
  color: #111827;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
.form-input {
  height: 30px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;

  font-size: 12px;
  color: #374151;

  margin-bottom: 8px;
}
.signin-btn {
  height: 36px;
  background-color: #6366f1;
  color: #ffffff;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;

  margin-top: 8px;
}
.error-msg {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #dc2626;
}
